#header {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 40px;
	padding: 30px;
	background: gray;
}

/* landing */
#slider {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 100px;
	bottom: 30%;
	overflow: hidden;
}

#showcase {
	position: absolute;
	left: 0px;
	right: 30%;
	top: 70%;
	bottom: 0px;
	background: lightgray;
}

#showcase>div>div {
	width: 200px;
	padding: 10px;
}

#finder {
	position: absolute;
	left: 70%;
	right: 0px;
	top: 70%;
	bottom: 0px;
	background: darkgray;
}

#finder_tabs>div {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
}

#finder_lists>div>div>a {
	display: block;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
}

/* results */
#results {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 100px;
	bottom: 0px;
	padding: 30px;
	background: lightgray;
}

/* checkout */
#items {
	position: absolute;
	top: 100px;
	bottom: 0px;
	left: 0px;
	right: 48%;
	padding: 10px;
	border: 1px solid black;
	background: lightgray;
}

#payment {
	position: absolute;
	top: 100px;
	bottom: 0px;
	right: 0px;
	left: 52%;
	padding: 10px;
	border: 1px solid black;
	background: darkgray;
}