html {
	font-family: Arial, Helvetica, sans-serif;
}

a, a:visited {
	color: black;
	font-weight: bold;
}

#header {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 45px;
	padding: 30px;
	border-radius: 0px 0px 7px 7px;
	background: gray;
	z-index: 10000;
}

/* landing */
#slider {
	position: absolute;
	overflow: hidden;
}

#showcase {
	position: absolute;
	background: lightgray;
}

#showcase>div>div {
	width: 200px;
	padding: 10px;
}

#finder {
	position: absolute;
	background: darkgray;
}

#finder_tabs>div {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	font-size: 160%;
}

#finder_lists>div>div>a:hover,
#finder_tabs>div:hover {
	background: gray;
}

#finder_tabs {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 50px;
}

#finder_lists {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50px;
	bottom: 0px;
}

#finder_lists>div>div>a {
	display: block;
	padding: 10px;
	margin: 10px;
	border: 2px solid black;
}

/* results */
#results {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 100px;
	bottom: 0px;
	background: lightgray;
}

/* checkout */
#items {
	position: absolute;
	top: 100px;
	bottom: 0px;
	left: 0px;
	right: 48%;
	padding: 10px;
	border: 1px solid black;
	background: lightgray;
}

#payment {
	position: absolute;
	top: 100px;
	bottom: 0px;
	right: 0px;
	left: 52%;
	padding: 10px;
	border: 1px solid black;
	background: darkgray;
}