/* landing */
#slider {
	left: 0px;
	right: 30%;
	top: 100px;
	bottom: 320px;
}

#showcase {
	left: 0px;
	right: 0px;
	height: 220px;
	bottom: 0px;
}

#finder {
	left: 70%;
	right: 0px;
	top: 100px;
	bottom: 320px;
}

#ctfooter {
	height: 100px;
}

.footered #showcase {
	bottom: 100px;
}