/* landing */
#slider {
	left: 0px;
	right: 0px;
	top: 100px;
	bottom: 200px;
}

#showcase {
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 200px;
}

#finder {
	left: 0px;
	right: 0px;
	top: 0px;
	height: 100px;
}

#finder_tabs {
	right: 80%;
	bottom: 0px;
}

#finder_lists {
	left: 20%;
	top: 0px;
}

#finder_tabs>div {
	display: block;
	padding: 5px;
}

#finder_lists>div>div>a {
	display: inline-block;
	padding: 5px;
}